input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* -moz-appearance: textfield; Firefox */
  text-align: center; /* Centra el texto */
}

.contador {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  color: #333;
}