<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center">Agregar un Departamento</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">


            <!-- FORMULARIO DE DEPARTAMENTO -->

            <form [formGroup]="form" style="border: 2px solid black; border-radius: 5px;">
                <div class="container" style="padding: 10px;">
                    <div class="row">
                        <label>Datos del departamento</label>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" aria-label="First name" formControlName="name"
                                    [ngClass]="{
              'is-invalid': form.get('name')?.invalid && form.get('name')?.touched
            }">
                                <small class="invalid-feedback" *ngIf="!form.get('name')!.valid &&
            form.get('name')!.touched &&
            form.get('name')!.getError('required')
            ">
                                    El Nombre es requerido
                                </small>
                                <small class="invalid-feedback" *ngIf="!form.get('name')!.valid &&
                                form.get('name')!.touched &&
                                form.get('name')!.getError('repeated')">
                                    El Nombre ya existe
                                </small>
                            </div>
                            <div class="col-6">
                                <label for="capacity" class="form-label">Capacidad</label>
                                <input type="number" class="form-control" aria-label="capacity"
                                    formControlName="capacity" [ngClass]="{
                  'is-invalid': !form.get('capacity')?.valid && form.get('capacity')?.touched
                
                }">
                                <small class="invalid-feedback" *ngIf="form.get('capacity')!.invalid && form.get('capacity')!.touched &&
                                                            form.get('capacity')!.getError('min') ">
                                    La capacidad debe ser positiva </small>
                                <small class="invalid-feedback" *ngIf="form.get('capacity')!.invalid && form.get('capacity')!.touched &&
                  form.get('capacity')!.getError('required') ">
                                    La capacidad es requerida </small>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label for="chief" class="form-label">Encargado</label>
                                <select class="form-select" aria-label="chief" formControlName="chief" [ngClass]="{
                                    'is-invalid': form.get('chief')?.invalid && form.get('chief')?.touched
                                  }">
                                    <option selected value=""></option>
                                    <option *ngFor="let referent of referents" [value]="referent.id"> {{
                                        referent.firstName + " " + referent.lastName }}</option>
                                </select>
                                <small class="invalid-feedback" *ngIf="form.get('chief')!.invalid && form.get('chief')!.touched &&
                                    form.get('chief')!.getError('required') ">
                                    El encargado es requerido </small>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label for="departament" class="form-label">Departamento Superior</label>
                                <select class="form-select" aria-label="Departament" formControlName="upperDepartment">
                                    <option selected></option>
                                    <option *ngFor="let departament of departments" [value]="departament.id"> {{
                                        departament.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 d-grid gap-2 d-md-block">
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                        <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-primary" (click)="ngSubmit()">Agregar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>