<div class="container">
    <h1>Preguntas Frecuentes</h1>
    <hr>
    <div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    ¿Cómo puedo registrar un nuevo empleado en el sistema?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Para registrar un nuevo empleado, sigue estos pasos:
                    <ol>
                        <li>Desde la página principal, ve a la sección "Empleados".</li>
                        <li>Haz clic en el botón "Agregar".</li>
                        <li>Serás redirigido a un formulario para ingresar los datos del nuevo empleado.</li>
                        <li>Completa todos los campos requeridos en el formulario, asegurándote de que los datos ingresados sean válidos y correctos.</li>
                        <li>Una vez que hayas ingresado todos los datos, haz clic en "Guardar".</li>
                        <li>Confirma la acción haciendo clic en "Sí, agregar".</li>
                    </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    ¿Qué pasos debo seguir para actualizar la información de un empleado existente? 
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Para actualizar la información de un empleado existente, sigue estos pasos:
                    <ol>
                        <li>Desde la página principal, ve a la sección "Empleados".</li>
                        <li>Verás una lista de todos los empleados cargados en el sistema. Busca el empleado que deseas actualizar. Puedes usar los filtros para facilitar la búsqueda.</li>
                        <li>Una vez que encuentres al empleado, dirígete a los tres puntos ubicados al lado derecho del empleado y haz clic en "Actualizar".</li>
                        <li>Serás redirigido a un formulario similar al de registro de empleados, pero con la información actual del empleado ya cargada.</li>
                        <li>Realiza los cambios necesarios en los campos que desees actualizar.</li>
                        <li>Verifica que los nuevos datos sean válidos y correctos.</li>
                        <li>Haz clic en el botón "Guardar".</li>
                        <li>Confirma la actualización haciendo clic en "Sí, actualizar".</li>
                    </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    ¿Cómo se generan los reportes de altas de empleados? 
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Para generar un reporte de altas de empleados, sigue estos pasos:
                    <ol>
                        <li>Desde la página principal, ve a la sección "Reportes".</li>
                        <li>Serás redirigido a una página con varias opciones para generar reportes.</li>
                        <li>En el campo "Módulos", selecciona la opción "Empleados".</li>
                        <li>En el campo "Tipo de reporte", selecciona la opción "Altas".</li>
                        <li>Completa las opciones adicionales como "Tipo de gráfico", "Desde" y "Hasta" según tus preferencias y necesidades.</li>
                        <li>Después de completar todos los campos, haz clic en el botón "Generar".</li>
                        <li>El reporte se generará y se mostrará en la página.</li>
                        <li>Si deseas descargar el reporte, haz clic en "Descargar" y se guardará en formato PDF.</li>
                    </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    ¿Dónde puedo encontrar información sobre las vacantes disponibles en cada departamento? 
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    La información sobre las vacantes disponibles en cada departamento se encuentra en la sección "Departamentos". Sigue estos pasos para encontrarla:
                      <ol>
                          <li>Ve a la sección "Departamentos".</li>
                          <li>Verás una lista de todos los departamentos cargados en el sistema.</li>
                          <li>Usa los filtros para buscar un departamento específico si lo necesitas.</li>
                          <li>En la lista, se mostrarán detalles como el nombre del departamento, la capacidad máxima, las vacantes disponibles, el estado del departamento (activo o inactivo), y una opción para modificar el departamento.</li>
                          <li>Observa la columna de vacantes:</li>
                            <ul>
                                <li>Si el número está en rojo, significa que no hay vacantes disponibles y se ha excedido la capacidad del personal en ese departamento.</li>
                                <li>Si el número está en verde, significa que hay vacantes disponibles.</li>
                            </ul>
                      </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    ¿Es posible modificar los detalles de un departamento específico? Si es así, ¿cómo? 
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Sí, es posible modificar los detalles de un departamento específico. Sigue estos pasos para hacerlo:
                      <ol>
                          <li>Desde la página principal, ve a la sección "Departamentos".</li>
                          <li>Busca el departamento que deseas modificar utilizando los filtros específicos.</li>
                          <li>En la parte derecha del departamento, encontrarás tres puntos. Haz clic en ellos y selecciona "Actualizar".</li>
                          <li>Serás redirigido a un formulario similar al de crear un departamento, pero con los datos del departamento que elegiste ya cargados en cada campo.</li>
                          <li>Modifica los datos que desees actualizar.</li>
                          <li>Verifica que los nuevos datos sean válidos</li>
                          <li>Haz clic en "Guardar".</li>
                          <li>Confirma la actualización haciendo clic en "Sí, actualizar".</li>
                      </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    ¿Cómo puedo acceder a los datos de seguridad y modificarlos si es necesario?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Actualmente, el acceso a los datos de seguridad no está disponible. Para modificar algún dato de seguridad, por favor, consulte con el técnico de la aplicación.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    ¿Qué debo hacer si encuentro un error o inconsistencia en la aplicación?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Si encuentras un error o inconsistencia en la aplicación, puedes reportarlo a través de los siguientes medios:
                    <ul>
                        <li>Correo electrónico del bot de ItalHR: italhr.bot&#64;gmail.com</li>
                        <li>Correo electrónico del administrador: imasuppo&#64;gmail.com</li>
                        <li>Enviando un mensaje al número: +54 351 378-6374</li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>