
<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem; cursor: pointer;" (click)="open('employees')">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/005/972/881/small/business-team-employees-user-icon-free-vector.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Empleados</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem; cursor: pointer;" (click)="open('departments')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAXwybr6MgzenLQ_Dn0v2QJPuioiptGm9koelaRL2cw&s" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Departamentos</p>
                </div>
              </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem; cursor: pointer;" (click)="open('workstations')">
            <img src="https://i.pinimg.com/474x/92/59/28/9259282c3e36ed39f345a91a1a182041.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Puestos</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem; cursor: pointer;" (click)="open('reports/employees')">
            <img src="https://cdn-icons-png.flaticon.com/512/175/175297.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Reportes</p>
            </div>
          </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>